{% extends 'layout.twig' %}

{% block body %}
  <ul class="nav nav-pills nav-justified">
    <li><a href="/preprocessing">Preprocessing</a></li>
    <li><a href="/">Features Selection</a></li>
    <li class="active"><a href="/classifiers">Classifiers</a></li>
  </ul>

  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
{% endblock %}
