body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.type-data {}
.type-data label { width: 400px; }
.type-data input[type="text"] { display: inline-block; width: auto; float: right; }